doctype xml
Response
  Say(voice='alice').
    Greetings from Google Developers Group. Hello. You have successfully qualified the second round of interview. We wish you luck for the next round.


  // To dial another number, you would uncomment the <Dial> below and replace
  // +16519991111 with the number of your sales/support line
  // Dial +16519991111