doctype xml
Response
  Say(voice='alice').
    Hello Mr. Kshitiz Kothi, you scheduled a pickup for your courier tomorrow with courierwala.com. The order ID is 64622.
    Would you like to confirm your order?
    Press 1 to confirm.
    Press 2 to cancel


  // To dial another number, you would uncomment the <Dial> below and replace
  // +16519991111 with the number of your sales/support line
  // Dial +16519991111