doctype xml
Response
  Say(voice='alice').
    Hello,  Mr. Sheetiz Kothi, you scheduled a pickup for your courier on 27th November with courierwala.com is confirmed. The order ID is 64622. Our courierwala agent will shortly contact you. Happy Courier.


  // To dial another number, you would uncomment the <Dial> below and replace
  // +16519991111 with the number of your sales/support line
  // Dial +16519991111